$fuente-principal: 'Roboto', sans-serif;
$fuente-secundaria: Arial, sans-serif;

$colores: (
  fondo: antiquewhite,
  borde: #dbb077,
  texto: rgb(73, 72, 62),
  navbar: #dbb077,
  hover: #c99a5e
);

$tamanos: small, medium, large;